<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<body>

<div layout:fragment="content">
	<div class="page-header">
		<h1>signup</h1>
	</div>


	<form method="post" class="form-horizontal" th:object="${newTripForm}" th:action="@{/new-trip}">
		<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
			<p>Versuchen Sie Nochmal, die Eingaben einzugeben</p>
		</div>
		<label for="inputStart" class="col-sm-2 control-label">Von</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputStart" required name="start"  th:field="*{start}" autofocus/>
			<label class="text-danger" th:errors="*{start}"/>
		</div>

		<div class="form-group ">
			<label for="inputEnd" class="col-sm-2 control-label">Nach</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEnd" required  name="end" th:field="*{end}" />
				<label class="text-danger" th:errors="*{end}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputDate" class="col-sm-2 control-label" >Das Datum</label>
			<div class="col-sm-10">
				<input type="datetime-local" class="form-control" min="2018-01-01" required id="inputDate"
					   th:field="*{date}" name="date"/>
				<label class="text-danger" th:errors="*{date}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputFreeSeat" class="col-sm-2 control-label" >Freie Platze</label>
			<div class="col-sm-10">
				<input type="number" value="0"  min="1" step="1" required  max="14" class="form-control" id="inputFreeSeat" th:field="*{freeSeats}" name="freeSeats"/>
				<label class="text-danger" th:errors="*{freeSeats}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputprice" class="col-sm-2 control-label" >Preis Pro Platz</label>
			<div class="col-sm-10">
				<input type="number"  min="0" step="1" max="1000" required  class="form-control" id="inputprice" th:field="*{price}" name="price"/>
				<label class="text-danger" th:errors="*{price}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputprice" class="col-sm-2 control-label" >Haustiere</label>
			<div class="col-sm-10">
				<select id="inputPet" name="pet" class="form-control" required >
					<option value="">Waehlen Sie bitte</option>
					<option value="0">Nein, Danke</option>
					<option value="1">Ja, Gerne</option>
				</select>
				<label class="text-danger" th:errors="*{pet}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputprice" class="col-sm-2 control-label" >Rauchen</label>
			<div class="col-sm-10">
				<select id="inputSomking" name="somking"  class="form-control" required >
					<option value="" >Waehlen Sie bitte</option>
					<option value="0">Nein, Danke</option>
					<option value="1">Ja, Gerne</option>
				</select>
				<label class="text-danger" th:errors="*{somking}"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputprice" class="col-sm-2 control-label" >Buchbar</label>
			<div class="col-sm-10">
				<select id="inputBookable" name="bookable"  class="form-control" required >
					<option value="" >Waehlen Sie bitte</option>
					<option value="0">Nein, Danke</option>
					<option value="1">Ja, Gerne</option>
				</select>
				<label class="text-danger" th:errors="*{bookable}"/>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Anmelden</button>
			</div>
		</div>
	</form>

</div>
</body>
</html>
