<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div>
        <div th:if="${allUsers.empty}">
            <h1>There is no trips to show</h1>
        </div>
        <div th:if="${!allUsers.empty}">
            <h1>Our Trips for You</h1>
            <table   class="table table-responsive-md table-bordered table-success">
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr th:each="user:${allUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>


                </tr>
            </table>
        </div>
        <!--<ul class="list-unstyled" th:if="${!allTrips.empty}>

            <li th:each="trip : ${allTrips}">
        <a th:text="${trip.start}"></a><a th:text="${trip.end}"></a>
        <a th:text="${trip.date}"></a><a th:text="${trip.smoking}"></a>
        <a th:text="${trip.freeSeats}"></a><a th:text="${trip.pet}"></a>
        <a th:text="${trip.price}"></a>
        <form th:action="${'http://localhost:8080/trips/'+ trip.id + '/delete'}" method="post">
            <button type="submit" class="btn btn-danger btn-sm">
                <small>delete me</small>
            </button>
        </form>
        </li>
        </ul>-->
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>
</html>