<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="row margin-top-bottom ">
        <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-12 jumbotron">
            <p >Sign in</p>
            <div class="row ">
                <form class="contact-us pattern-bg form-group" action="http://localhost:8080/login" method="post" th:object="${signin}">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" username="username" class="form-control" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="password" id="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-check-inline">
                            <input type="submit" class="btn btn-outline-primary btn-sm " th:value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row margin-top-bottom ">
        <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-12 jumbotron">
            <p >Sign Up</p>
            <div class="row ">
                <form class="contact-us pattern-bg form-group" action="http://localhost:8080/new-user" method="post" th:object="${newUser}">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" username="username" class="form-control" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="password" id="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-check-inline">
                            <input type="submit" class="btn btn-outline-primary btn-sm " th:value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
