<div class="row margin-top-bottom">
    <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
        <div class="row">
            <div class="contact-us-detail"><a href="mailto:info@uipasta.com">info@uipasta.com</a></div>
            <form class="contact-us pattern-bg" action="http://localhost:8080/index"  method="post" >
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="name" class="form-control" placeholder="Your Name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" placeholder="Your Email">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="website" class="form-control" placeholder="Your Website">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="address" class="form-control" placeholder="Where are You From?">
                    </div>
                </div>
                <div class="col-sm-12">
                    <select id="subject" class="form-group form-control">
                        <option value="" selected disabled>Subject</option>
                        <option>Website Design & Development</option>
                        <option>Wordpress Development</option>
                        <option>Search Engine Optimization</option>
                        <option>Mobile Website</option>
                        <option>I Want to General Talk</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <div class="textarea-message form-group">
                        <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="button button-style button-style-dark button-style-color-2">Submit</button>
                </div>
            </form>
            <p class="custom-margin">This Contact Form is a part of our free HTML template, Download the complete template from our website and It's fully
                responsive and works perfect on all devices. Please Download from here - http://www.uipasta.com/webres-personal-resume-template/</p>

        </div>
    </div>
</div>
</div>
