<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
<ul class="list-unstyled">
    <li th:each="trip : ${showAll}">
        <a  th:text="${trip.start}"></a><a  th:text="${trip.end}"></a>
    </li>
</ul>
<form action="http://localhost:8080/index"  method="post">
    <input type="text" name="start" placeholder="place your trip name" required>
    <input type="text" name="end" placeholder="place your trip name" required>
    <input type="submit" value="submit">

</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</div>
</body>
</html>